<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.googleapis.com/coverr-main/mp4%2FBoat%20in%20Caramoan.mp4?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=coverr-183014%40appspot.gserviceaccount.com%2F20200211%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20200211T214950Z&X-Goog-Expires=300&X-Goog-SignedHeaders=host&X-Goog-Signature=392709a58d3ae23ba8b16e673f1723f6d1f6bd1243db93d55a8231bf1478efac8e71b567620ad19838755693afa1146dd096a420c5604588a8290d2afc732d84f6dcb6af45e51131cace05482f89b3fc8427c41c9c4de0e152e0325e4a3cbf97a35a465b74536ceb3921d7652e41bba02c5c0524d7d90d0395d52865cd67d68e253043aa85ce83d97eec6b4e6bd21ac423a364cf2ac161eb19acc13ecb19b50a9e591729a6a31b407503a95b6780c3c33eb6928258d806bae8461d491f4ce4fa038fb1b6c7efa908f4ce822cc9baa79295774b7c42c4886411d97bbadfaa781c6ac0c5f1473fd155da786fd1e17e9b560a563a33d80548a77e675ac2a26f1750" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Welcome to Travel Frog</h1>
              <p class="lead">Travel Frog provides a one stop shop for all your travel information needs.</p>
      <a href="/cities" class="btn btn-primary btn-md">Explore now</a>

      </div>
    </div>
  </div>
</header>


<div class="row">
  <div class="col"><<%= image %>></div>
  <div class="col">col</div>
  <div class="w-100"></div>
  
</div>